button {
  color: white;
  padding: 0.7rem;
  cursor: pointer;
}

.button:hover {
  background-color: #cd5c5c;
}

input,
textarea {
  background: #ccce5f;
  color: white;
  width: 100%;
  border-style: none;
  margin-bottom: 1rem;
  padding: 0.7rem;
  border: none;
  resize: none;
}
